/** Global **/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.body-container {
    display: block;
}

/* Disable Blue background on link and button click */
a, button {
    -webkit-tap-highlight-color: transparent;
}
a:focus, button:focus { outline: none !important;}


/** header **/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    height: 80px;
}

header input[type=checkbox] {
    display: none;
    z-index: 99;
}

.hamburger {
    display: none;
    font-size: 30px;
    user-select: none;
}
#headerfiller {
    display: none;
    z-index: 1;
}

header img {
    width: 1vw;
    min-width: 150px;
    z-index: 99;
    padding-top: 30px;
}

header img:hover {
    cursor: pointer;
}

header .nav-links {
    display: flex;
    flex-direction: row;
    width: calc(100vw - (50vw + 20px)); /*Total width - image width - margin*/
    justify-content: space-between;
    z-index: 99;
    background-color: lightblue;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(to right ,#9c1010 ,#0c8d82 ); 
}

header .nav-links a {
    text-wrap: nowrap;
    text-decoration: none;
    /* color: rgb(39, 39, 39); */
    color: #FFFFFF;
    padding: 5px 5px;
    font-size: 20px;
}
header .nav-links a:hover {
    animation: animate-underline 0.3s;
    transition: 0.3s;
    text-decoration: underline;
    text-underline-offset: 5px;
    
}
.lokgeetp{
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Current page */
header .nav-links #curr-page {
    text-decoration: underline;
    color: lightgreen;
    text-underline-offset: 5px;
    padding: 5px 5px;
}


/** Navbar and wallpaper **/
.top-full-block {
    height: 100vh;
}
.top-full-block #link {
    position: absolute;
    top: 100%;
    transform: translateY( calc(-100% - 5px));
    right: 10px;
    color: #FF7722;
    font-size: 12px;
}


/** Wallpaper **/
.wall-top-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    overflow: hidden;
    z-index: -99;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    
}

.wall-top-container #wall-top {
    object-fit: cover;
    width: 100%;
    opacity: 90%;
    filter: brightness(90%);
}

/** IEEE x MIET **/
.wall-top-container .heading {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: absolute;
    top: 40%;
    height: 150px;
    color: #FF7722;
    -webkit-filter: drop-shadow(0px 0px 15px #b8b8b8);
    filter: drop-shadow(0px 0px 10px #b8b8b8); /* F the background */
    text-shadow: 0px 0px 10px #999999;
    transform: translateY(-50%);
    z-index: 1;
    overflow: hidden;
}

.wall-top-container .heading #ieeelogo {
    height: 100%;
    animation: right-to-left 1.5s;
}

.wall-top-container .ieeelogo-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    animation: left-to-right 1s;
    height: 100%;
}

.wall-top-container .ieeelogo-left #head {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 95px;
}
.wall-top-container .ieeelogo-left #body {
    position: relative;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    display: inline;
    font-size: 25px;
    /* width: calc(100% + 10px); Fix border under empty area of 'I' Character in IEEE */
    top: -15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: purple;
    border: solid 1px #FF7722;
    border-width: 2px 0 0 0 ;
}
.wall-top-container .ieeelogo-left #body span img {
    width: 70px;
}

.gallerybg{
    background-image: linear-gradient(to top, red, orange);
}
/** Dashboard **/
.dashboard {
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #ffffff;
    color: #FF7722;
}

.dashboard #dashboard-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    align-items: center;
}

.dashboard #dashboard-item p {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    color: #FF7722;
}

.dashboard #dashboard-item H1 {
    width: 120px;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: bold;
}


/** About Us **/
.about-us {
    display: flex;
    flex-direction: column;
    padding: 10vh 0;
    min-height: 50vh;
    justify-content: center;
    text-align: center;
    background-color: #f1f1f1;
}

.about-us #heading {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.about-us #content {

    margin: 5vh 10vw 5vh 10vw;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #555555;
}


/** UpComing Events... **/
.uc-event-section {
    display: none;
    margin: 20vh 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.uc-event-section > #heading {
    margin-right: auto;
    margin-left: 5vw;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
.uc-event-section #heading span {
    color: #ff9553;
}

.uc-event-section .uc-event-bulk {
    width: 90vw;
    margin-top: 40px;
}

.uc-event-section .uc-event-bulk p {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.uc-event-section .uc-event-item {
    background-color: #f5f5f5;
    padding: 10px;
    margin-top: 8px;
    border: solid;
    border-width: 0 0 0 1px;
}

.uc-event-section .uc-event-item:hover {
    background-color: #f5f5f5;
    padding: 10px;
    margin-top: 8px;
    border: solid;
    border-width: 0 0 0 2px;
    padding-left: 9px; /* one px is taken by border-left */
}

.uc-event-section .uc-event-bulk #head {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.uc-event-section .uc-event-bulk #head span {
    margin-left: 15px;
    font-size: 15px;
    color: #727272;
    font-weight: 300;
}
.uc-event-section .uc-event-bulk #head span i {
    margin-right: 5px;
}

.uc-event-section .uc-event-bulk #body {
    font-size: 18px;
    font-weight: 300;
    color: #2e2e2e;
    padding: 10px 0;
    width: 80vw;
}


/** IEEE Tools **/
.ieee-tools {
    margin: 20vh 50px;
    display: block;
    text-align: center;
}

.ieee-tools #heading {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.ieee-tools .ieee-tools-bulk {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 100%;
}
.ieee-tools .ieee-tools-bulk a {
    text-decoration: none;
    cursor: pointer;
}

.ieee-tools .ieee-tool-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    width: 300px;
    height: 100%;
    border: solid 0px;
    border-radius: 10px;
    background-color: #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.ieee-tools .ieee-tool-item:hover {
    box-shadow: 0px 0px 5px #d3d3d3;
}

.ieee-tools .ieee-tool-item #imagecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.ieee-tools #imagecontainer img {
    width: 50%;
}

.ieee-tools .ieee-tool-item p {
    padding: 20px;
    letter-spacing: 0.05em;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #5a5a5a;
}


/** Event Section **/
.events {
    display: block;
    text-align: center;
    position: relative;
    margin: 15vh 20px;
    min-height: 80vh
}

.events #heading {
    display: flex;
    justify-content: center;
}
.events #heading span {
    background-color: #ffffff;
    padding: 0 20px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.events hr {
    position: relative;
    top: -18px;
    margin-bottom: 10vh;
    border-width: 0px;
    background-color: #e97837;
    width: 60vw;
    max-width: 400px;
    min-width: 200px;
    height: 3px;
    z-index: -1;
}

.events .event-item img {
    width: auto;
    border: solid 10px #e6e6e6;
    height: 80vh;
    max-width: 90vw;
    transition: all 0.4s ease-in-out;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.events .event-item img:hover {
    transform: scale(1.05);
}

.events .event-per-item button {
    background-color: #ffffff;
    color: #505050;
    opacity: 0.6;
    border: solid 0px #505050;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0 0 8px #616161;
    cursor: pointer;
    z-index: 99;
}
.events .event-per-item button:hover {
    background-color: #505050;
    color: white;
    opacity: 1;
    transition: 0.3s;
    padding: 10px;
}

.events #event-button-left {
    position: absolute;
    top:  50%;
    left: 10px;
    transform: translateY(-50%);
}

.events #event-button-right {
    position: absolute;
    top:  50%;
    right: 10px;
    transform: translateY(-50%);
}

.events .event-per-item #event-counter {
    font-size: 15px;
    margin: 25px;
}

.animate-reveal {
    animation: small-to-big 0.5s;
}
@keyframes small-to-big {
    0% {transform: scale(0.8);}
}



/** Join IEEE **/
.join-ieee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20vh 5vw;
    border: solid 0px #FF7722;
    background-color: #f5f5f5;
    border-radius: 20px;
    overflow: hidden;
    height: 80vh;
}

.join-ieee .left {
    position: relative;
    padding: 20px;
}

.join-ieee .left #heading {
    font-size: 30px;
    margin-left: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
.join-ieee .left #heading span {
    padding: 2px 0;
    background-color: #fb985a;
    color: white;
}

.join-ieee .left .review {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    width: 100%;
    left: 40px;
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

.join-ieee .left .review img {
    width: 150px; /* Adjust as needed */
    border-radius: 125px;
    border: solid 10px #eeeeee;
}

.join-ieee .left .review #name {
    font-size: 20px;
    margin: 10px 0;
}

.join-ieee .left .review p {
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: #282828;
}

.join-ieee .right {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
    width: 40%;
}

.join-ieee .right #heading {
    font-size: 20px;
}

.join-ieee .right img {
    width: 150px;
}

.join-ieee .right a {
    background-color: #FF7722;
    border: solid 1px #FF7722;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    /* box-shadow: 3px 3px 10px #aaaaaa; */
}
.join-ieee .right a:hover {
    background-color: transparent;
    transition: 0.2s;
    color: #FF7722;
}




/** Footer **/
footer {
    display: block;
    background-color: #e9e9e9;
}

footer .footer-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
    padding: 50px;
}

.footer-container .footer-left {
    display: flex;
    flex-direction: column;
    gap: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

footer .footer-left img {
    width: 10vw;
    min-width: 100px;
    cursor: pointer;
}


/* SocialMedia Links */
footer #socialmedia-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10vw;
}

footer #socialmedia-icons a {
    color: #2b2b2b;
    font-size: 25px;
    text-decoration: none;
}
footer #socialmedia-icons a:hover {
    transition: all 0.3s ease-out;
}
footer .fa-instagram:hover {
	color: #c32aa3;
    animation: color-rgb-insta 0.8s;
}
footer .fa-envelope:hover {
	color: #C61C19;

}
footer .fa-linkedin-in:hover {
	color: #c68801;
}

/* Navigation Links*/
footer .footer-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 50vw;
}


.footer-right .footer-links #heading {
    padding: 15px 0px;
    position: relative;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-weight: bold;
}

footer .footer-right .footer-links a {
    padding: 6px 0px;
    font-size: 15px;
    text-decoration: none;
    display: block;
    color: #4d4d4d;
    transition: all 0.1s ease-out;
}
.footer-right .footer-links a:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: #272727;
}

footer .footer-right .footer-links span i {
    margin-right: 5px;
}

.footer-right .footer-links span {
    display: block;
    margin-bottom: 5px;
    color: #363636;
}

footer .footer-end {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    font-size: 15px;
    height: 50px;
}
footer .footer-end #meetdev {
    text-decoration: none;
    color: black;
}


#tothetop {
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: #222222;
}
#tothetopmobile {
    display: none;
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: #222222;
}

#loading_indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 10px solid grey;
    border-radius: 50%;
    border-top: 10px solid orangered;
    width: 100px;
    height: 100px;
    animation: spinIndicator 1s linear infinite;
 }
 @keyframes spinIndicator {
    100% {
       transform: rotate(360deg);
    }
 }


/*****************************
        * Animations*
 ****************************/
@keyframes rotate-360 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes animate-underline {
    0% {text-underline-offset: 1px;}
    100% {text-underline-offset: 5px;}
}

@keyframes relax-out {
    from {letter-spacing: 1em;}
    to {letter-spacing: 0em;}
}

@keyframes left-to-right {
    0% {margin-left: -100px; opacity: 0;}
    50%{margin-left: -50px; opacity: 0;}
    100% {margin-left: 0px; opacity: 1;}
}
@keyframes right-to-left {
    0% {margin-right: -100px; opacity: 0;}
    100% {margin-right: 0px; opacity: 1;}
}

@keyframes animation-spread-out {
 0%  {letter-spacing: -2em; opacity: 0.2;}
 40% {letter-spacing: -0.5em; opacity: 0.4;}
 100%{opacity: 1;}
}

@keyframes fade {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

@keyframes color-rgb-insta {
    0% {color: #c32aa3;}
    25% {color: #F26743;}
    50% {color: #505CD1;}
    75% {color: #A233B8;}
    100% {color: #64435d;}
}

