.team-bulk {
    display: block;
    margin: 0 10vw;
}


.team-bulk #heading {
    animation: animation-spread-out 0.9s;
    text-align: center;
    font-size: 30px;
    margin: 12vh 0vh;
}
@keyframes animation-spread-out {
 0%  {letter-spacing: -2em; opacity: 0.2;}
 40% {letter-spacing: -0.5em; opacity: 0.4;}
 100%{opacity: 1;}
}

.team-bulk #heading span {
    border: solid orange;
    border-width: 0 0 2px 0;
    padding: 2px;
}

.team-bulk hr {
    position: relative;
    top: calc(10vh + 18px); /* TopMargin + FontSize/2 */
    width: 30%;
    height:3px;
    border-width:0;
    background-color: orange;
    z-index: -1;
}

.team-bulk .team-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}


/** Card **/
.team-bulk .team-container #member {
    display: block;
    /*box-shadow: 0 0 10px 0px #000000;*/
    width: auto;
    overflow: hidden;
}


.team-bulk .team-container #member-container {
    padding: 20px 0;
}
.team-bulk .team-container #member-container a i {
    margin: 20px 8px 20px 0px;
    color: #bebebe;
    font-size: 20px;
}
.team-bulk .team-container #member-container a i:hover {
    color: #2c2c2c;
    transition: 0.2s;
}

.team-container #member img {
    box-shadow:  #64435d;
    border: solid 0px;
    border-radius: 5px;
    width: auto;
    height: auto;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}
